*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(51, 48, 42);
}

body{
     background-color: rgb(0,0,0);
     overflow-x: hidden;
     font-size: 24px;

}
html{
    font-size:10px;
}

.intro {
    color: rgb(51, 48, 42);
    font-size: 1em;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-indent: 50px;
    white-space: pre;
    word-break: break-word;
    border: 0;
}

.overlay{
  opacity:1;
  background-color:#1b1b1b;
  color:white;
  font-size: 1em;
  position:fixed;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.star {
  color: rgb(200, 200, 200);
  font-size: 1em;
  text-justify:inter-cluster;
  font-family:Georgia, 'Times New Roman', Times, serif   ;
  white-space: pre;
  word-break: break-word;
  border: 0;
}

.generic {
  color: rgb(51, 48, 42);
  font-size: 1em;
  text-justify:inter-cluster;
  font-family:Georgia, 'Times New Roman', Times, serif   ;
  white-space: pre;
  word-break: break-word;
  border: 0;
}

#video{
 margin: 0 auto;
 display: block;
}

.gradient {
  background-image: linear-gradient(rgb(10,10,10), black);
}
.galaxy {
  background-image: url('galaxy.gif'); 
  color: rgb(238, 238, 238);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.blood {
  background-image: url('bloodgalaxy.gif'); 
  color: rgb(238, 238, 238);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  cursor: grabbing;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* from https://www.w3schools.com/howto/howto_css_glowing_text.asp: */

.glowbronze {
    font-size: 1em;
    color: #fff;
    -webkit-animation: glowbronze 1.5s ease-in-out infinite alternate;
    -moz-animation: glowbronze 1.5s ease-in-out infinite alternate;
    animation: glowbronze 1.5s ease-in-out infinite alternate;
    z-index: 20;
  }

  @-webkit-keyframes glowbronze {
    from {
      text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffd600, 0 0 40px #daa520, 0 0 50px #d4af37, 0 0 60px #cfb53b, 0 0 70px #e2b13c;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #796832, 0 0 40px #e1ad21, 0 0 50px #796832, 0 0 60px #a28834, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.glowblue {
    font-size: 1em;
    color: #fff;
    -webkit-animation: glowblue 3s ease-in-out infinite alternate;
    -moz-animation: glowblue 3s ease-in-out infinite alternate;
    animation: glowblue 3s ease-in-out infinite alternate;
  }

.center{ text-align: center; }

.alignright{ text-align: right; }

.alignleft{ text-align: left; }

.hidden {display: none; }



  @-webkit-keyframes glowblue {
    from {
      text-shadow: 0 0 10px #006bc6, 0 0 20px #4169e1, 0 0 30px #0000ff, 0 0 40px #1984df, 0 0 50px #174268, 0 0 60px #cfb53b, 0 0 70px #e2b13c;
    }
    to {
      text-shadow: 0 0 20px #413395, 0 0 30px #3e3769, 0 0 40px #6156a4, 0 0 50px #483d8b, 0 0 60px #4e4583, 0 0 70px #553592, 0 0 80px #333399;
    }
  }

.glowred {
    font-size: 1em;
    color: #fff;
    -webkit-animation: glowred 0.75s ease-in-out infinite alternate;
    -moz-animation: glowred 0.75s ease-in-out infinite alternate;
    animation: glowred 0.75s ease-in-out infinite alternate;
    z-index: 20;
  }
  
  @-webkit-keyframes glowred {
    from {
      text-shadow: 0 0 10px #808080, 0 0 20px #ec5353, 0 0 30px #e61919, 0 0 40px #b81414, 0 0 50px #ff2400, 0 0 60px #ff2800, 0 0 70px #f70d1a;
    }
    to {
      text-shadow: 0 0 20px #ff5500, 0 0 30px #ff4500, 0 0 40px #f35f1b, 0 0 50px #dd6731, 0 0 60px #ba4f1e, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .glowtrans {
    font-size: 1em;
    color: #fff;
    -webkit-animation: glowtrans 0.5s ease-in-out infinite alternate;
    -moz-animation: glowtrans 0.5s ease-in-out infinite alternate;
    animation: glowtrans 0.5s ease-in-out infinite alternate;
    z-index: 20;
  }

  @-webkit-keyframes glowtrans {
    from {
      text-shadow: 0 0 10px #3399ff, 0 0 20px #3f00ff, 0 0 30px #5353ec, 0 0 40px #8cadf2, 0 0 50px #6495ed, 0 0 60px #477beb, 0 0 70px #6fa2ff;
    }
    to {
      text-shadow: 0 0 20px #ffb6c1, 0 0 30px #f7bfbe, 0 0 40px #f2bdcd, 0 0 50px #f8bdc6, 0 0 60px #ef6f82, 0 0 70px #ff4da6, 0 0 80px #ffadbb;
    }
  }

  /* from https://codingartistweb.com/2022/09/flashlight-effect-with-javascript/: */

  
 /* from https://getcssscan.com/css-buttons-examples */
  .button-39 {
    background-color: #000000;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: white;
    font-size: .75em;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-39:hover {
    background-color: rgb(249,250,251);
  }
  
  .button-39:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .button-39:focus-visible {
    box-shadow: none;
  }

  /* from https://www.w3schools.com/css/tryit.asp?filename=trycss_form_padding */
  input[type=text] {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(209,213,219);
    border-radius:10px;
    width: 10%;
    margin: 5px 0;

  }